<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" tags="Azure" viewEngine="Razor" authorizationPolicy="episerver:storage">
  <assemblies>
    <add assembly="EPiServer.Azure.StorageExplorer" />
  </assemblies>
  <clientResources>
    <add name="storageexplorer" path="clientResources/css/explorer.css" resourceType="Style" />
    <add name="storageexplorer" path="clientResources/css/mvc-grid.css" resourceType="Style" />
	<add name="storageexplorer" path="clientResources/css/Fonts/grid-glyphs.woff" resourceType="Style" />
    <add name="storageexplorer" path="clientResources/js/mvc-grid.js" resourceType="Script" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="storageexplorer" />
    </requiredResources>
  </clientModule>
  
</module>
