@using EPiServer.Azure.StorageExplorer
@using EPiServer.Shell.Navigation


@Html.Raw(Html.GlobalMenu(string.Empty, "/global/cms/storageexplorer"))

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.Translate("/storageexplorer/errormessage")
</p>
